$shadow : v.$blueshadow;
.container {
   @include m.game-container;
   height: 100%;
}

.inner{
    flex: 1;
    @include m.flex-center;
}

.grid {
  position: relative;
  border: 2px solid $shadow;
  display: grid;
}


.cells {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  div {
    box-shadow: $shadow 0px 0px 0px 1px;
  }
}

.tiles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}