$border-color: rgb(94, 94, 94);

.container {
  @include m.game-container;
}

.inner {
  flex: 1;
  @include m.flex-center;
}

.grid {
  position: relative;
  border: 2px solid $border-color;
  display: grid;
  overflow: hidden;
}

.cells {
  @include m.position-absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  div {
    box-shadow: $border-color 0px 0px 0px 1px;
  }
}

.tiles {
  @include m.position-absolute;
}
