.container {
  @include m.game-grid-container;
  padding-bottom: 1em;
}

.grid {
  position: relative;
  border: 2px solid v.$pinkshadow;
  background: v.$dark;
  display: grid;
}

.score {
    @include m.flex-center;
    flex-direction: column;
    gap: 0.3em;
    font-weight: 700;
    padding: 0 1em;
    color: v.$hotpink;
    font-size: 1.6em;
    >div:first-of-type {
        font-weight: 600;
        font-size: 0.8em;
        color: v.$white;
    }
}


.cells {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  div {
    box-shadow: v.$pinkshadow 0px 0px 0px 1px;
  }
}

.tiles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}