.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.grid {
  position: relative;
  border: 2px solid v.$dark;
  background: v.$dark;
  display: grid;
  overflow: hidden;
}

.panel {
    @include m.flex-center;
    width: 100%;
    flex: 1;
    background: v.$dark;
    justify-content: space-between;
    position: relative;
    .score {
        @include m.flex-center;
        flex-direction: column;
        gap: 0.2em;
        font-weight: 700;
        padding: 0 1em;
        color: v.$white;
        font-size: 1.4em;
        >div:first-of-type {
            font-weight: 600;
            font-size: 0.8em;
            color: v.$gray;
        }
    }
}

.restart {
    @include m.position-center;
    svg {
        color: v.$yellow;
        font-size: 2.7em;
    }
}

.cells {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  div {
    background: v.$gray;
  }
}

.tiles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}