@use 'sass:math';
.tile {
  font-weight: 700;
  position: absolute;
  display: grid;
  place-items: center;
  font-size: 1.4rem;
  word-break: break-all;
  text-align: center;
  background: v.$lightgray;
  color: #0aae01;
}

.new {
  transform: scale(0);
  animation: pop 100ms forwards ease-in;
  animation-delay: 400ms;
}

.merged {
  transform: scale(0);
  animation: merge 200ms forwards ease-out;
  animation-delay: var(--animation-delay);
}

.move {
  animation: move forwards ease-in;
  animation-duration: var(--duration);
}

$tile-colors: #b892f1, #7b97e0, #36b4a1, #9a62e3, #3c69ca, #e975b9, #00b7ff, #03949e, #19b05f, #d02795, #f35b63, #fc941d;

@for $i from 1 through length($tile-colors) {
  $color: nth($tile-colors, $i);
  $value: math.pow(2, $i);

  .tile[data-value='#{$value}'] {
    color: $color;
    @if $value > 10000 {
      font-size: 1.5rem;
    } @else if $value > 1000 {
      font-size: 1.9rem;
    } @else {
      font-size: 2.3rem;
    }
  }
}

@keyframes pop {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

@keyframes merge {
  0% {
    transform: scale(0.6);
  }
  30% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(var(--move-x), var(--move-y));
  }
}
