.tile {
  font-weight: 600;
  position: absolute;
  display: grid;
  place-items: center;
  color: rgb(224, 224, 224);
  font-size: var(--font-size);
}

.new {
  transform: scale(0);
  animation: pop 100ms forwards ease-in;
  animation-delay: 400ms;
}

.merged {
  transform: scale(0);
  animation: merge 300ms forwards ease-out;
  animation-delay: var(--animation-delay);
}

.move {
  animation: move forwards ease-in;
  animation-duration: var(--duration);
}

.tile[data-value='2'] {
  background: #b0b6e3;
}

.tile[data-value='4'] {
  background: #aa94c6;
}

.tile[data-value='8'] {
  background: #58addb;
}
.tile[data-value='16'] {
  background: #57b5d0;
}
.tile[data-value='32'] {
  background: #63b994;
}
.tile[data-value='64'] {
  background: #079ea5;
}

.tile[data-value='128'] {
  background: #91a26b;
}

.tile[data-value='256'] {
  background: #bbb879;
}

.tile[data-value='512'] {
  background: #e1a58c;
}

.tile[data-value='1024'] {
  background: #faaeb8;
}

.tile[data-value='2048'] {
  background: #dd7a87;
}

@keyframes pop {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

@keyframes merge {
  0% {
    transform: scale(0.6);
  }
  30% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(var(--move-x), var(--move-y));
  }
}
