@use 'variables' as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin position-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: $white;
  height: 100%;
  overflow: hidden;
}

@mixin title-bar {
  width: 100%;
  font-weight: 600;
  font-size: 0.95rem;
  color: $dark;
  background: #dbdadf;
  padding: 0 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  > div {
    display: flex;
  }
  button {
    @include flex-center;
    background: $white;
    border: none;
    margin-left: 0.3rem;
    border-radius: 50%;
    font-size: 0.9rem;
    padding: 0.15rem;
  }
}

@mixin title-bar-sm {
  font-size: 0.85rem;
  height: 27px;
  button {
    font-size: 0.8rem;
    padding: 0.1rem;
  }
}

@mixin game-over-modal {
  background: #d3d8db;
  border: 0.1em solid rgba(145, 145, 145, 0.38);
  border-radius: 0.4rem;
  box-shadow: 0 0.7em 1.1em 0 rgba(72, 72, 75, 0.77);
}

@mixin hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin disable-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
