.container {
    @include m.game-container;
    height:100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(30,1fr);
    grid-template-rows: repeat(16,1fr);
    width:100%;
    flex:1;
}

