.tile {
    background: lighten(v.$dark, 7%);
    border: 0.18em solid lighten(v.$dark, 17%);
    border-style: outset;
    position: relative;
    .inner {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
}

.mine {
    font-size: 1.15em;
    color: v.$hotpink;
}