@use 'variables' as *;

$theme: '1';

// .page-wrapper[data-theme='1'] {
//     background-color: pink;
// }

// 2048
@mixin tile-color($color) {
  color: $color;
  @if $theme == '1' {
    background: #dde1e5;
  } @else {
    background: $dark;
    text-shadow: 0.2em 0.2em 0 rgba(194, 104, 246, 0.15);
  }
}

@mixin mine-tile-color {
  @if $theme == '1' {
    background: #d6e0e4d0;
    border: 0.14em outset lighten($gray, 58%);
    &.revealed {
      background: lighten($gray, 15%);
      border: 0.01em solid lighten($gray, 24%);
    }

    &.clicked-mine {
      background: rgb(241, 108, 108);
    }
    .inner {
      svg {
        color: lighten($dark, 7%);
      }
      .flag,
      .wrong-flag {
        color: rgb(246, 96, 96);
      }
    }
  } @else {
    background: lighten($dark, 7%);
    border: 0.13em outset lighten($dark, 17%);
    &.revealed {
      background: lighten($dark, 3%);
      border: 0.01em solid lighten($dark, 10%);
    }

    &.clicked-mine {
      background: rgb(222, 46, 46);
    }
    .inner {
      svg {
        color: lighten($dark, 77%);
      }
      .flag,
      .wrong-flag {
        color: rgb(222, 46, 46);
      }
    }
  }
}

// global
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin title-bar {
  width: 100%;
  font-weight: 700;
  font-size: 0.95rem;
  color: $dark;
  @if $theme == '1' {
    background: #dbe6ea;
    padding: 0.35em 0.6rem;
    button {
        background: #c3cacc;
    }
  } @else {
    background: $darkpurple;
    padding: 0.35em 0;
  }
}

@mixin game-stat {
  @if $theme == '1' {
    color: darken(#18cb7e, 10%);
    > div:nth-of-type(2){
      color: $dark;
    }
  } @else {
    color: $hotpink;
    > div:nth-of-type(2) {
      color: white;
    }
  }
}

@mixin btn {
  @if $theme == '1' {
    background: #13cd7c;
    border: 0;
    border-radius: 0.2rem;
  } @else {
    border: 0.1em solid $darkpurple;
    background: transparent;
    color: white;
  }
}

@mixin windowbg {
  @if $theme == '1' {
    background: rgba(238, 238, 238, 0.66);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0.7rem;
    filter: brightness(0.85);
    border: 0.1em solid rgba(255, 255, 255, 0.18);
  } @else {
    background: $darkpurple;
    padding: 0 0.4em 0.4rem;
  }
}

@mixin gradient {
  background: linear-gradient(
    90deg,
    $green 0%,
    $blue 25%,
    $purple 50%,
    $pink 75%,
    $yellow-light 100%
  );
}

@mixin background {
  @if $theme == '1' {
    background-color: #63879E;
    background-image: url('/bg.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    #folder-back {
      fill: #16e68c;
    }
    #folder-front {
      fill: #18cb7e;
    }
  } @else {
    background: $dark;
    background-image: radial-gradient(
      darken(#7c52c6, 20%) 1.4px,
      transparent 0
    );
    background-size: 66px 66px;
    background-position: -15px -15px;
    #folder-back {
      fill: #f73aa1;
    }
    #folder-front {
      fill: #f254ab;
    }
  }
}

@mixin game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: $white;
  @if $theme != '1' {
    @include background;
    .grid {
      background: $dark;
    }
  }
}

@mixin game-over-modal {
  @if $theme == '1' {
    background: #d3d8db;
    border: 0.1em solid rgba(145, 145, 145, 0.38);
    border-radius: 0.4rem;
    box-shadow: 0 0.7em 1.1em 0 rgba(72, 72, 75, 0.77);
  } @else {
    background: $dark;
    box-shadow: 0 0.3em 0.8em 0 rgba(72, 47, 116, 0.77);
  }
}
