$primary-color: #674CC6;
$dark: #1E1F29;
$gray: #bababa;
$darkgray: #1f1f1f;
$yellow: #EACB54;
$yellow-light: #fde9ad;
$green: #8DF4A5;
$blue: #6ECDE5;
$indigo: #82A5FA;
$purple: #B2A3F6;
$pink: #dd94d1;
$hotpink: #F73AA1;
$white: #ffffff;
$pinkshadow: #f73aa275;