$primary-color: #674CC6;
$dark: #0C0E17;
$gray: #d6d6d6;
$darkgray: #1f1f1f;
$yellow: #EACB54;
$yellow-light: #fde9ad;
$green: #8DF4A5;
$blue: #6ECDE5;
$indigo: #82A5FA;
$purple: #B2A3F6;
$pink: #dd94d1;
$white: #ffffff;