$dark: #1E1F29;
$gray: #bababa;
$darkgray: #1f1f1f;
$yellow: #ffe600;
$yellow-light: #fde9ad;
$green: #8DF4A5;
$darkgreen: #06b84a;
$blue: #6ECDE5;
$indigo: #82A5FA;
$purple: #B2A3F6;
$darkpurple: #6043dd;
$pink: #dd94d1;
$hotpink: #F73AA1;
$white: #ffffff;
$pinkshadow: #f73aa275;
$blueshadow: #3a5386b7;