.container {
    @include m.position-center;
    @include m.flex-center;
    @include m.game-over-modal;
    width: 40%;
    text-align: center;
    flex-direction: column;
    gap: 2.2em;
    padding-bottom: 2.2em;
    animation: pop-in 50ms forwards ease-in;
    animation-delay: 1000ms;
    overflow: hidden;
}

.text {
    @include m.title-bar;
    @include m.flex-center;
    padding: 0.7em 0;
}

.button {
    @include m.btn;
}

@keyframes pop-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}