.container {
    @include m.position-center;
    @include m.flex-center;
    background: v.$gray;
    width: 70%;
    text-align: center;
    border: 2px solid v.$dark;
    flex-direction: column;
    gap: 2.2em;
    padding-bottom: 2.2em;
    opacity: 0;
    animation: pop-in 50ms forwards ease-in;
    animation-delay: 1000ms;
}

.text {
    @include m.title-bar;
    @include m.flex-center;
    background: v.$dark;
    color: v.$white;
}

.button {
    border: 2px solid v.$dark;
    padding: 0.4em 0.8em;
    font-size: 1.5em;
    font-weight: 600;
    background: v.$green; 
}

@keyframes pop-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}