html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: v.$dark;
  background-color: #d6ade0;
  background: linear-gradient(to top, #6d6db9 0%, #e1add2 100%);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border-color: v.$dark;
}

button,
[role='button'] {
  color: v.$dark;
  cursor: pointer;
}

.page-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.react-resizable {
  position: fixed !important;
}

.react-resizable-handle {
  background-size: 10px;
  transform: none !important;
}

.react-resizable-handle-e {
  top: 40px !important;
  margin-right: -15px;
  height: calc(100% - 50px) !important;
}
.react-resizable-handle-s {
  left: 0 !important;
  margin-bottom: -15px;
  width: calc(100% - 10px) !important;
}

.disable-resize .react-resizable-handle {
  display: none;
  cursor: default;
}

.main-page-folders {
  position: absolute;
  top: 7%;
  left: 1%;
  display: grid;
  gap: 7px;
  #folder-back {
    fill: #467cac;
  }
  #folder-front {
    fill: #4f87b8;
  }
}
