html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: v.$dark;
  @include m.background;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border-color: v.$dark;
}

button,
[role='button'] {
  color: v.$dark;
  cursor: pointer;
}

.page-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.react-resizable-handle {
    background-size: 10px;
    transform: none !important;
}

.react-resizable-handle-e {
    top: 40px !important;
    margin-right: -15px;
    height:  calc(100% - 50px) !important;
}
.react-resizable-handle-s {
    left: 0 !important;
    margin-bottom: -15px;
    width: calc(100% - 10px) !important;
}

.disable-resize .react-resizable-handle {
    display: none;
    cursor: default;
}
