.menu {
    position: absolute;
    top: 7%;
    left: 3%;
}

.folder {
    color: v.$white;
    font-weight: 700;
    cursor: pointer;
    svg {
        font-size: 3.5em;
    }
    p {
        margin: 0;
        padding-left: 0.3em;
    }
    
}