.status-bar {
    @include m.flex-center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding: 0.5em 2em;
}

.restart {
    @include m.position-center;
    display: flex;
    svg {
        color: v.$yellow;
        font-size: 3em;
    }
    &::after {
        content:'';
        position: absolute;
        top: 2.5%;
        left: 2.5%;
        width: 95%;
        height: 95%;
        background: black;
        border-radius: 50%;
        z-index: -1;
    }
}

.stat {
    @include m.flex-center;
    @include m.game-stat;
}