.window {
    @include m.windowbg;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 100000;
}

.title-bar {
    @include m.title-bar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    >div {
        display: flex;
    }
    button {
        border: none;
        margin-left: 0.3rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
        font-size: 0.9rem;
        padding: 0.15rem;
        &.maximize-btn {
            font-size: 0.8rem;
            padding: 0.2rem;
        }
        &:active{
            transform: scale(0.98)
        }
        &:disabled {
            opacity:0.4;
            cursor: default;
        }
    }
}

.inner {
    flex:1;
    width: 100%;
    overflow: scroll;
}