.container {
    padding: 4em;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window {
    @include m.gradient;
    padding: 0 6px 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.title-bar {
    @include m.title-bar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >div {
        display: flex;
    }
    button {
        border: none;
        background: none;
        margin-left: 0.3em;
        padding: 0;
        display: grid;
        place-items: center;
        font-size: 1.5em;
        &:active{
            transform: scale(0.98)
        }
    }
}

.inner {
    flex:1;
    width: 100%;
}