.window {
  background: v.$white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
  border-radius: 0.5rem;
  filter: brightness(0.97);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title-bar {
  @include m.title-bar;
}

.inner {
  flex: 1;
  width: 100%;
  overflow: scroll;
}

.folder {
  color: v.$white;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  width: 95px;
  svg {
    font-size: 3.1rem;
  }
  p {
    margin-top: -0.4rem;
    font-size: 0.82rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
